In [5]:
import pandas as pd

In [6]:
alunosDic = {'Nomes':['Filipe','Josi','Olivia','Tito'],
         'Nota':[9,8,3.3,6],
         'Aprovado':['Sim','Sim','Não','Sim']}

In [7]:
alunosDF = pd.DataFrame(alunosDic)

In [8]:
print(alunosDF)

    Nomes  Nota Aprovado
0  Filipe   9.0      Sim
1    Josi   8.0      Sim
2  Olivia   3.3      Não
3    Tito   6.0      Sim

In [9]:
alunosDF['Aprovado']

0    Sim
1    Sim
2    Não
3    Sim
Name: Aprovado, dtype: object

In [10]:
alunosDF.loc[0:2]

    Nomes  Nota Aprovado
0  Filipe   9.0      Sim
1    Josi   8.0      Sim
2  Olivia   3.3      Não

In [11]:
alunosDF.loc[alunosDF['Nomes']=='Olivia']

    Nomes  Nota Aprovado
2  Olivia   3.3      Não