In [4]:
import pandas as pd

In [5]:
alunosDic = {'Nomes':['Filipe','Josi','Olivia','Tito'],
         'Nota':[9,8,3.3,6],
         'Aprovado':['Sim','Sim','N達o','Sim']}

In [6]:
alunosDF = pd.DataFrame(alunosDic)

In [7]:
print(alunosDF)

    Nomes  Nota Aprovado
0  Filipe   9.0      Sim
1    Josi   8.0      Sim
2  Olivia   3.3      N達o
3    Tito   6.0      Sim

In [8]:
alunosDF.head()

    Nomes  Nota Aprovado
0  Filipe   9.0      Sim
1    Josi   8.0      Sim
2  Olivia   3.3      N達o
3    Tito   6.0      Sim

In [9]:
alunosDF.shape

(4, 3)

In [11]:
alunosDF.describe()

           Nota
count  4.000000
mean   6.575000
std    2.514458
min    3.300000
25%    5.325000
50%    7.000000
75%    8.250000
max    9.000000